<div class="font-semibold font-title">
    WelCome on Team App
</div>

<div class="box">


    <table class="bigTable">
        <tr><td><div class="sides"><div class="left"><br />Main Menu<br /></div> <div class="right"><br /> About<br /></div></div><br /> <br /> <br /><br /></td>
        
        </tr>

        <tr>
            <td>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    <br />
                </div>
                   
</td>

        </tr>
        

        <tr>
            <td>
                <div style="align-self:center; margin-left:20px" >
                    <table class="internalTable">
                        <tr>
                            <th>
                                <div>
                                    <span class="glyphicon glyphicon-triangle-bottom"> Id</span>
                                </div>

                            </th>
                            <th>
                                <span class="glyphicon glyphicon-triangle-bottom"> Name</span>
                            </th>

                        </tr>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Sunita
                            </td>

                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Sharmila
                            </td>

                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Bart
                            </td>

                        </tr>
                    </table>
                    <br />
                    <br />
                    </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-xs-9">
                    <input class="form-control input_style"  placeholder="    Search..."/>
                    <span class="glyphicon glyphicon-search"></span>
                    <br />
                    <br />
                </div>
            </td>
        </tr>

    </table>


</div>
<br />

